@charset "UTF-8";
@import url("/fonts/font.css");

/*  GLOBAL RULES  */

*:root {
    font-size: 12pt;
    font-synthesis: none;
    line-height: 1.75;
    text-align: justify;
    quotes: "‘" "’" "“" "”";
}

@media print {

    *:root {
        font-size: 12pt;
        color: black;
        background: white;
        font-family: "Times New Roman", serif;
    }

}

*[title]:not([title=""]):not(a) {
    border-bottom: dotted currentColor black;
    cursor: help;
}

@supports (text-decoration-style: dotted) {
    *[title]:not([title=""]):not(a) {
        border: none;
        text-decoration-line: underline;
        text-decoration-style: dotted;
    }
}

*:lang(en) {
    quotes: "‘" "’" "“" "”";
}

*:root:root:root:root:root [hidden] {
    display: none;
}

/*  PAGE LAYOUT  */

html {
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 42pt);
    color: #F30;
    background: #114;
}

html[data-invert-colours] {
    color: #F30;
    background: #810;
}

body {
    margin: auto;
    padding: 21pt 12pt;
    max-width: 363pt;
}

/*  SECTIONING  */

main {
    display: block;
    position: relative;
    padding-bottom: 84pt;
}

article, section, aside, header, footer, div {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
}

article {
    margin: 0 -30pt;
    padding: 5.25pt 30pt;
    color: #114;
    background: #EDE;
    border-radius: 5.25pt;
    font-size: 11pt;
    font-weight: 400;
}

aside, section {
    margin: 21pt 0;
}

aside {
    color: #A20;
}

header {
    margin: 21pt 0 10.5pt;
    font-family: "M+ 2p", "Unifont LANGDEV", "Unifont Upper", "Unifont", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

body > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 42pt -24pt 73.5pt;
}

nav {
    display: block;
    text-align: left;
}

main nav {
    text-align: center;
}

footer {
    margin: 5.25pt 0;
    color: #A20;
    font-size: 10pt;
    text-align: right;
}

blockquote > footer:last-child::before {
    content: "– ";
}

/*  TABLES  */

caption {
    margin: 0;
    padding: 5.25pt 3pt;
}

table {
    margin: 21pt auto;
    border-collapse: separate;
    padding: 5.25pt 3pt;
    padding: 0;
    max-width: 100%;
    text-align: left;
}

thead {
    font-weight: 400;
    text-align: center;
}

tbody + tbody::before {
    display: table-row;
    height: 21pt;
    content: "";
}

td > table:only-child {
    margin: auto;
    width: 100%;
}

td, th {
    border: none;
    border-radius: 1.5pt;
    padding: 1.5pt;
    vertical-align: top;
}

th {
    text-align: center;
    text-decoration: underline;
}

/*  LISTS  */

ul, ol, dl {
    margin: 5.25pt 0;
    padding: 0 0 0 24pt;
    text-align: left;
}

ul {
    list-style-type: circle;
}

li ul {
    list-style-type: square;
}

li li ul {
    list-style-type: disc;
}

li li li ul {
    list-style-type: circle;
}

li li li li ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-roman;
}

li ol {
    list-style-type: decimal-leading-zero;
}

li li ol {
    list-style-type: lower-latin;
}

li li li ol {
    list-style-type: lower-greek;
}

li li li li ol {
    list-style-type: decimal;
}

dt {
    display: inline-block;
    float: left;
    margin: 0 -3pt;
    padding: 0 3pt;
    color: #114;
    background: #A20;
}

dt + dt::before {
    content: ", ";
}

dd {
    margin: 0 0 0 24pt;
    padding: 0;
}

dd::before {
    display: inline;
    white-space: pre-wrap;
    content: " : ";
}

dd + dd::before {
    content: "″ : ";
}

dd:after {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    content: "";
}

/*  BLOCK ELEMENTS  */

blockquote {
    position: relative;
    margin: 21pt 0;
    padding: 0 24pt;
    color: #F30;
}

blockquote::before {
    display: block;
    position: absolute;
    top: 5.25pt;
    left: 0;
    width: 24pt;
    font-family: "M+ 2p", "Unifont LANGDEV", "Unifont Upper", "Unifont", sans-serif;
    font-size: 24pt;
    font-weight: 800;
    line-height: 1;
    text-align: center;
    content: "“";
}

blockquote::after {
    display: block;
    position: absolute;
    bottom: 5.25pt;
    right: 0;
    width: 24pt;
    font-family: "M+ 2p", "Unifont LANGDEV", "Unifont Upper", "Unifont", sans-serif;
    font-size: 24pt;
    font-weight: 800;
    line-height: 1;
    text-align: center;
    content: "„";
}

blockquote blockquote {
    margin: 10.5pt 0;
    padding: 0 12pt 0 11pt;
    border-left: 1pt currentColor solid;
    font-weight: 200;
}

blockquote blockquote::before, blockquote blockquote::after {
    content: none;
}

figcaption {
    margin: 5.25pt 0;
    color: #A20;
    font-size: 10pt;
    text-align: center;
}

figure, iframe, img, svg, video {
    display: block;
    margin: 0;
    border: none;
    padding: 0;
    max-width: 100%;
    color: inherit;
}

main figure, main iframe, main img, main svg, main video {
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

figure, main figure {
    margin: 21pt auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: "M+ 2p", "Unifont LANGDEV", "Unifont Upper", "Unifont", sans-serif;
    text-align: left;
}

h1 {
    display: inline-block;
    flex: none;
    margin: 0 24pt;
    padding: 21pt 12pt;
    color: #F30;
    background: transparent;
    font-size: 48pt;
    font-weight: 900;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
}

h2 {
    margin: 21pt 0 10.5pt;
    font-size: 24pt;
    font-weight: 900;
    line-height: 1.09375;
    text-align: left;
}

header h2 {
    margin: 0;
}

h3 {
    margin: 21pt 0 0;
    font-size: 21pt;
    font-weight: 800;
    line-height: 1;
}

h3::after {
    content: ":";
}

h4 {
    margin: 21pt 0 0;
    font-size: inherit;
    font-weight: 800;
    text-decoration: underline;
}

h5 {
    margin: 10.5pt 0 0;
    font-size: inherit;
    font-weight: 700;
}

h6 {
    margin: 0;
    font-size: inherit;
    font-weight: 700;
}

hr {
    display: block;
    position: relative;
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    height: 63pt;
    background: none;
    overflow: hidden;
}

hr::after {
    display: block;
    position: absolute;
    top: 21pt;
    left: 0;
    right: 0;
    height: 21pt;
    color: #A20;
    text-align: center;
    white-space: pre;
    content: "*   *   *";
}

iframe[src*="//youtube.com/embed/"], iframe[src*="//www.youtube.com/embed/"] {
    width: 560px;
    height: 315px;
}

img.inline, svg.inline {
    display: inline-block;
    margin: 0;
    padding: calc(.25em / 1.5);
    max-height: calc(1em / 1.5);
    max-width: calc(1em / 1.5);
    line-height: 1em;
    vertical-align: middle;
}

p {
    position: relative;
    margin: 0;
    padding: 0;
}

h3 + p, p + p {
    text-indent: 24pt;
}

footer h3 + p, footer p + p {
    margin-top: 10.5pt;
    text-indent: 0;
}

p::before {
    color: #810;
    text-indent: 0;
}

h3 + p::before, p + p::before {
    position: absolute;
    top: 0;
    left: 12pt;
    content: "¶";
}

blockquote p::before, blockquote p + p::before {
    position: absolute;
    top: 0;
    left: auto;
    right: 100%;
    content: open-quote;
}

blockquote p:not(:last-of-type)::after {
    content: no-close-quote;
}

blockquote p:last-of-type::after {
    content: close-quote;
}

footer h3 + p::before, footer p + p::before {
    content: none;
}

pre {
    margin: 21pt 12pt;
    font-family: "Unifont LANGDEV", "Unifont Upper", "Unifont", monospace;
    font-weight: normal;
    color: #EDE;
    white-space: pre-wrap;
}

pre::before, pre::after {
    display: block;
    margin: 0 -12pt;
    color: #810;
    content: "```";
}

article pre {
    color: #F30;
}

/*  PHRASING  */

a[href] {
    text-decoration: none;
    color: inherit;
    transition: color .3s;
}

a[href]:hover {
    color: #EDE;
}

article a[href] {
    color: #A20;
}

article a[href]:hover {
    color: #F30;
}

main a[href] {
    display: inline;
    text-decoration: underline;
    text-decoration-style: dashed;
}

nav a[href] {
    text-decoration: none;
}

@media print {

    a[href] {
        text-decoration: none;
    }

    a[href]::after {
        content: " [" attr(href) "]";
    }

}

@supports (text-decoration-style: dotted) {
    abbr {
        border: none;
    }
}

b {
    font-weight: 500;
    color: #EDE;
}

article b, article code, article i {
    color: #F30;
}

cite {
    font-style: inherit;
}

code {
    font-family: inherit;
    color: #EDE;
}

code::before, code::after {
    font-family: "Unifont LANGDEV", "Unifont Upper", "Unifont", monospace;
    font-weight: normal;
}

del {
    text-decoration: line-through;
}

dfn {
    font-style: inherit;
    font-weight: 500;
}

em {
    font-style: inherit;
    text-decoration: underline;
}

i {
    font-style: inherit;
    font-weight: 300;
    color: #EDE;
}

h1 i, h2 i {
    font-weight: 800;
}

h3 i, h4 i, h5 i, h6 i {
    font-weight: 700;
}

i::before, i::after {
    content: "'"
}

ins {
    text-decoration: underline;
}

s {
    text-decoration: line-through;
}

small {
    font-size: inherit;
    font-weight: 200;
}

strong {
    text-decoration: underline;
    text-decoration-style: double;
    font-weight: 700;
}

sup {
    text-transform: uppercase;
}

h1 sub {
    font-size: 24pt;
    line-height: 0;
    color: #EDE;
}

u {
    text-decoration: underline;
    text-decoration-style: wavy;
}
