@charset "UTF-8";
@import url("/fonts/font.css");

/*  GLOBAL RULES  */

*:root {
    color: #cccccc;
    background: #0c0c0c;
    font-family: "Unifont Upper", "Unifont", monospace;
    font-size: 20px;
    font-synthesis: none;
    line-height: 1.6;
    text-align: left;
    quotes: "‘" "’" "“" "”";
}

*::selection {
    color: #0c0c0c;
    background: #f6d037;
}

*::-moz-selection {
    color: #0c0c0c;
    background: #f6d037;
}

@media print {

    *:root {
        font-size: 12pt;
        color: black;
        background: white;
        font-family: "Times New Roman", serif;
    }

}

*[title]:not([title=""]):not(a) {
    border-bottom: dashed currentColor black;
    cursor: help;
}

@supports (text-decoration-style: dashed) {
    *[title]:not([title=""]):not(a) {
        border: none;
        text-decoration-line: underline;
        text-decoration-style: dashed;
    }
}

*:lang(en) {
    quotes: "‘" "’" "“" "”";
}

*:root:root:root:root:root [hidden] {
    display: none;
}

/*  PAGE LAYOUT  */

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    margin: 0;
    border: 10px transparent solid;
    padding: 76px 0px 76px 232px;
    background-position: center center;
    background-size: cover;
    background-origin: border-box;
    background-repeat: no-repeat;
    overflow: hidden;
}

#header {
    display: block;
    position: absolute;
    top: 14px;
    left: 0;
}

#header a[href], #navigation a[href] {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header a[href]:hover, #navigation a[href]:hover {
    opacity: 1;
}

#header a[href]:hover::before, #navigation a[href]:hover::before {
    content: "–›";
}

#header a[href]::after, #navigation a[href]::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

#header a[href] {
    width: 384px;
    height: 48px;
    opacity: .83247;
}

#navigation {
    display: block;
    position: absolute;
    top: 68px;
    left: 12px;
}

#navigation a[href] {
    margin: 0 0 4px;
    width: 208px;
    height: 32px;
    opacity: .79875;
}

#header a[href="/"]::after {
    background-image: url(images/logo.png);
}

#header a[href="/"]:hover::after {
    background-image: url(images/logo.gif), url(images/logo.png);
}

#navigation a[href="/about"]::after {
    background-image: url(images/menu-about.png);
}

#navigation a[href="/about"]:hover::after {
    background-image: url(images/menu-about.gif), url(images/menu-about.png);
}

#navigation a[href="/languages"]::after {
    background-image: url(images/menu-languages.png);
}

#navigation a[href="/languages"]:hover::after {
    background-image: url(images/menu-languages.gif), url(images/menu-languages.png);
}

#navigation a[href="/games"]::after {
    background-image: url(images/menu-games.png);
}

#navigation a[href="/games"]:hover::after {
    background-image: url(images/menu-games.gif), url(images/menu-games.png);
}

#navigation a[href="/art"]::after {
    background-image: url(images/menu-art.png);
}

#navigation a[href="/art"]:hover::after {
    background-image: url(images/menu-art.gif), url(images/menu-art.png);
}

#navigation a[href="/writings"]::after {
    background-image: url(images/menu-writings.png);
}

#navigation a[href="/writings"]:hover::after {
    background-image: url(images/menu-writings.gif), url(images/menu-writings.png);
}

#navigation a[href="/marginalia"]::after {
    background-image: url(images/menu-marginalia.png);
}

#navigation a[href="/marginalia"]:hover::after {
    background-image: url(images/menu-marginalia.gif), url(images/menu-marginalia.png);
}

#content {
    margin: 0 auto;
    max-width: 604px;
    height: 100%;
}

#tab {
    cursor: pointer;
}

@media (max-width: 496px) {

    body {
        padding: 20px;
        overflow-y: scroll;
    }

    #header {
        position: static;
        margin: -6px -20px;
    }

    #navigation {
        position: static;
        margin: 12px -8px;
    }

    #content {
        height: auto;
    }

}

@media (max-width: 384px) {

    #header {
        margin: -4px -20px;
    }

    #header a[href] {
        width: 256px;
        height: 32px;
    }

    #navigation {
        margin: 16px -4px;
    }

    #navigation a[href] {
        width: 104px;
        height: 16px;
    }

}

/*  SECTIONING  */

main {
    display: block;
    position: relative;
    margin: 0;
    padding: 32px;
    height: calc(100% - 104px);
    color: #3b3b3b;
    background: rgba(255, 255, 255, .961);
    overflow-x: hidden;
    overflow-y: scroll;
    transition: height .5s, padding-top .5s, padding-bottom .5s;
}

#content[data-collapsed] main {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

article, section, aside, nav, header, footer, div {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
}

aside, section {
    margin: 32px 0;
    text-align: left;
}

aside {
    color: #636363;
}

main footer {
    margin: 32px 0 0;
    font-size: 16px;
    text-align: right;
}

blockquote > footer:last-child::before {
    content: "– ";
}

main header {
    margin: 32px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #1c1c1c;
    padding: 0 0 29px;
    text-align: center;
}

main nav {
    margin: 16px 0;
}

@media (max-width: 496px) {
    main {
        height: auto;
    }
}

/*  TABLES  */

caption {
    margin: 0;
    padding: 8px 4px;
}

table {
    margin: 32px auto;
    border-collapse: separate;
    border-spacing: 4px 2px;
    padding: 0;
    max-width: 100%;
    text-align: left;
}

thead {
    color: #1c1c1c;
    text-align: center;
}

tbody + tbody::before {
    display: table-row;
    height: 32px;
    content: "";
}

td > table:only-child {
    margin: auto;
    width: 100%;
}

td, th {
    border: none;
    border-radius: 2px;
    padding: 2px;
    vertical-align: top;
}

th {
    text-align: center;
    text-decoration: underline;
}

/*  LISTS  */

ul, ol, dl {
    margin: 4px 0;
    padding: 0 0 0 32px;
    text-align: left;
}

ul {
    list-style-type: circle;
}

nav ul {
    list-style-type: none;
}

li ul {
    list-style-type: square;
}

li li ul {
    list-style-type: disc;
}

li li li ul {
    list-style-type: circle;
}

li li li li ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-roman;
}

li ol {
    list-style-type: decimal-leading-zero;
}

li li ol {
    list-style-type: lower-latin;
}

li li li ol {
    list-style-type: lower-greek;
}

li li li li ol {
    list-style-type: decimal;
}

dt {
    display: inline-block;
    float: left;
    margin: 0 -6px;
    padding: 0 6px;
    color: #f5f5f5;
    background: #e83f2c;
}

dt + dt::before {
    content: ", ";
    color: #cccccc;
}

dd {
    margin: 0 0 0 32px;
    padding: 0;
}

dd::before {
    display: inline;
    white-space: pre-wrap;
    content: " : ";
}

dd + dd::before {
    content: "″ : ";
}

dd:after {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    content: "";
}

/*  BLOCK ELEMENTS  */

blockquote {
    margin: 32px 16px;
    font-weight: 100;
}

figcaption {
    margin: 4px 0;
    color: #656565;
    font-size: 16px;
    text-align: center;
}

figure, iframe, img, svg, video {
    display: block;
    margin: 0;
    border: none;
    padding: 0;
    max-width: 100%;
    color: inherit;
}

main figure, main iframe, main img, main svg, main video {
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

figure, main figure {
    margin: 32px auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-align: left;
}

h1 {
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    font-size: 20px;
    line-height: 1;
    text-align: left;
    min-width: 160px;
    width: auto;
    color: #1c1c1c;
    background: rgba(255, 255, 255, .8);
}

h1::before {
    content: "• ";
}

h2 {
    margin: 32px 0 16px;
    font-size: 32px;
    line-height: 1;
    text-align: left;
}

h3 {
    margin: 32px 0 0;
    font-size: inherit;
    text-decoration: underline;
}

h3::after {
    content: ":";
}

hr {
    display: block;
    position: relative;
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    height: 64px;
    background: none;
    overflow: hidden;
}

hr::after {
    display: block;
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    height: 32px;
    color: #1c1c1c;
    text-align: center;
    white-space: pre;
    content: "*   *   *";
}

iframe[src*="//youtube.com/embed/"], iframe[src*="//www.youtube.com/embed/"] {
    width: 560px;
    height: 315px;
}

img.inline, svg.inline {
    display: inline-block;
    margin: 0;
    padding: calc(.25em / 1.5);
    max-height: calc(1em / 1.5);
    max-width: calc(1em / 1.5);
    line-height: 1em;
    vertical-align: middle;
}

p {
    position: relative;
    margin: 0;
    padding: 0;
}

h3 + p, p + p {
    text-indent: 48px;
}

footer h3 + p, footer p + p {
    margin-top: 20px;
    text-indent: 0;
}

p::before {
    color: #636363;
    text-indent: 0;
}

h3 + p::before, p + p::before {
    position: absolute;
    top: 0;
    left: 16px;
    content: "¶";
}

blockquote p::before, blockquote p + p::before {
    position: absolute;
    top: 0;
    left: auto;
    right: 100%;
    content: open-quote;
}

blockquote p:not(:last-of-type)::after {
    content: no-close-quote;
}

blockquote p:last-of-type::after {
    content: close-quote;
}

footer h3 + p::before, footer p + p::before {
    content: none;
}

pre {
    margin: 32px 16px;
    font-family: inherit;
    color: #0c0c0c;
    white-space: pre-wrap;
}

pre::before, pre::after {
    display: block;
    margin: 0 -32px;
    color: #636363;
    content: "```";
}

/*  PHRASING  */

a[href] {
    text-decoration: none;
    color: #e83f2c;
    -webkit-touch-callout: none;
}

main a[href] {
    display: inline-block;
    position: relative;
    margin: 0 -6px;
    padding: 0 6px;
    height: 32px;
    text-indent: 0;
    -webkit-touch-callout: default;
}

main a[href]:hover {
    color: #f5f5f5;
    background: url(images/link-bg.gif) top left / 256px 32px repeat;
}

main a[href]:hover::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(images/link-fg.gif) top left / 256px 32px repeat;
    content: "";
}

main a[href] ~ a[href]:hover, main a[href] ~ a[href]:hover::after {
    background-position: top center;
}

main a[href] ~ a[href] ~ a[href]:hover, main a[href] ~ a[href] ~ a[href]:hover::after {
    background-position: top right;
}

@media print {

    a[href] {
        text-decoration: none;
    }

    a[href]::after {
        content: " [" attr(href) "]";
    }

}

nav a[href] {
    text-decoration: none;
}

@supports (text-decoration-style: dotted) {
    abbr {
        border: none;
    }
}

b {
    color: #1c1c1c;
}

cite {
    font-style: inherit;
}

code {
    font-family: inherit;
    color: #0c0c0c;
}

code::before, code::after {
    content: "`";
}

del {
    text-decoration: line-through;
}

dfn {
    color: #1c1c1c;
    font-style: inherit;
}

em {
    font-style: inherit;
    text-decoration: underline;
    text-decoration-style: wavy;
}

ins {
    text-decoration: underline;
}

s {
    text-decoration: line-through;
}

small {
    color: #636363;
    font-size: inherit;
}

strong {
    color: #1c1c1c;
    text-decoration: underline;
    text-decoration-style: double;
}

sup {
    text-transform: uppercase;
}

u {
    text-decoration: underline;
    text-decoration-style: wavy;
}
