@charset "UTF-8";

body {
    font-family: "Unifont Upper", "Unifont", monospace;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
}

@font-face {
  font-family: "Unifont";
  src: url('../fonts/Unifont.woff') format('woff'),
       url('../fonts/Unifont.ttf')  format('truetype');
  font-weight: 400;
  unicode-range: U+0-FFFF;
}

@font-face {
  font-family: "Unifont Upper";
  src: url('../fonts/Unifont-Upper.woff') format('woff'),
       url('../fonts/Unifont-Upper.ttf')  format('truetype');
  font-weight: 400;
  unicode-range: U+10000-10FFFF;
}
