---
layout : "default"
---

<main>
  {% for post in paginator.posts %}
  <article>
    <header>
      <a href="{{ site.url }}{{ post.url }}" target="_self">
        <h3>{{ post.title }}</h3>
        <aside>Published {{ post.date | date: "%d %B %Y" }}{% if post.category %} in <i>{{ post.category }}</i>{% endif %}.</aside>
      </a>
    </header>
    <blockquote>
      {{ post.excerpt }}
    </blockquote>
  </article>
  {% endfor %}
  <footer>
    <a href="/" target="_self">Take me home.</a>
  </footer>
</main>

<footer>
  <nav>
    <a href="{{ paginator.previous_page_path }}" target="_self" {% unless paginator.previous_page %}hidden{% endunless %}>Previous</a>
    <a href="{{ paginator.previous_next_path }}" target="_self" {% unless paginator.next_page %}hidden{% endunless %}>Next</a>
  </nav>
</footer>
