@charset "UTF-8";

/*  GLOBAL RULES  */

*:root {
  font-family: "Cormorant Garamond", "Junicode", "Iowan Old Style", "Hoefler Text", "Unifont LANGDEV", "Unifont Upper", "Unifont", serif;
  font-size: large;
  font-weight: 500;
  font-synthesis: none;
  text-align: justify;
  quotes: "“" "”" "‘" "’";
}

@media print {

  *:root {
    color: black;
    background: white;
    font-family: "Times New Roman", serif;
  }

}

*[title]:not([title=""]):not(a) {
  border-bottom: dotted currentColor black;
  cursor: help;
}

@supports (text-decoration-style: dotted) {
  *[title]:not([title=""]):not(a) {
    border: none;
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }
}

*:lang(en) {
  quotes: "“" "”" "‘" "’";
}

blockquote:lang(en), blockquote *:lang(en) {
  quotes: "‘" "’" "“" "”";
}

/*  PAGE  */

html, body {
  background: #faf8f7;
  color: #57534c;
}

body > header, body > a[href] > header {
  font-family: "Catamaran", "Unifont LANGDEV", "Unifont Upper", "Unifont", sans-serif;
}

body > header h1, body > a[href] > header h1 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1;
}

body > header a[href], body > header a[href]:hover, body > a[href] {
  color: inherit;
}

body > header aside, body > a[href] > header aside {
  font-weight: 100;
  line-height: 1.25;
  text-overflow: ellipsis;
}

body > header p, body > a[href] > header p {
  text-indent: 0;
}

/*  SECTIONING  */

aside {
  font-family: "Catamaran", "Unifont LANGDEV", "Unifont Upper", "Unifont", sans-serif;
  font-weight: 100;
  line-height: 1.25;
  text-align: left;
  color: #75706a;
}

header aside {
  font-size .85em;
}

footer {
  font-family: "Catamaran", "Unifont LANGDEV", "Unifont Upper", "Unifont", sans-serif;
  font-size: .85em;
  font-weight: 100;
  line-height: 1.25;
  text-align: right;
  color: #75706a;
}

blockquote > footer:last-child::before {
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

header {
  text-align: left;
}

main {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

nav {
  text-align: center;
}

/*  TABLES  */

table {
  text-align: left;
}

thead {
  font-weight: 700;
  text-align: center;
}

th {
  text-align: center;
  text-decoration: underline;
}

/*  LISTS  */

ul, ol, dl {
  text-align: left;
}

ul {
  list-style-type: circle;
}

li ul {
  list-style-type: square;
}

li li ul {
  list-style-type: disc;
}

li li li ul {
  list-style-type: circle;
}

li li li li ul {
  list-style-type: square;
}

ol {
  list-style-type: upper-roman;
}

li ol {
  list-style-type: decimal-leading-zero;
}

li li ol {
  list-style-type: lower-latin;
}

li li li ol {
  list-style-type: lower-greek;
}

li li li li ol {
  list-style-type: decimal;
}

dt {
  font-weight: bold;
}

/*  BLOCK ELEMENTS  */

blockquote {
  font-weight: 300;
  font-style: italic;
}

blockquote::before, blockquote::after {
  font-family: "Catamaran", "Unifont LANGDEV", "Unifont Upper", "Unifont", sans-serif;
  font-size: 2em;
  font-weight: 800;
  line-height: 1;
  text-align: center;
}

figcaption {
  font-family: "Catamaran", "Unifont LANGDEV", "Unifont Upper", "Unifont", sans-serif;
  font-size: .85em;
  font-weight: 100;
  text-align: center;
  line-height: 1.25;
}

h1, h2, h3, h4, h5, h6 {
  color: #1f1a14;
  font-family: "Catamaran", "Unifont LANGDEV", "Unifont Upper", "Unifont", sans-serif;
  font-weight: 800;
  text-align: left;
}

h1 {
  font-size: 5em;
  line-height: 1;
}

h2 {
  font-size: 3.5em;
  line-height: 1;
}

h3 {
  font-size: 1.75em;
  line-height: 1;
}

h4 {
  font-size: 1.4em;
  line-height: 1.25;
}

h5 {
  font-size: inherit;
  font-variant: small-caps;
  line-height: inherit;
}

h6 {
  font-size: inherit;
  line-height: inherit;
}

hr, hr::after {
  text-align: center;
  white-space: pre;
}

p {
  position: relative;
}

p::before, p::after {
  color: #b8b3b0;
  line-height: 1;
  text-indent: 0;
}

h4 + p, h5 + p, h6 + p, p + p {
  text-indent: 2em;
}

footer h4 + p, footer h5 + p, footer h6 + p, footer p + p {
  text-indent: 0;
}

pre {
  font-family: "Unifont LANGDEV", "Unifont Upper", "Unifont", monospace;
  font-size: .85em;
  font-weight: normal;
  line-height: 1;
  white-space: pre-wrap;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

svg {
  color: inherit;
}

/*  PHRASING  */

a[href] {
  color: inherit;
  text-decoration: none;
  -webkit-text-decoration-color: inherit;
  text-decoration-color: inherit;
  transition: color .3s;
  transition: color .3s, -webkit-text-decoration-color .3s;
  transition: color .3s, text-decoration-color .3s;
}

a[href]:hover {
  color: #302f2b;
  -webkit-text-decoration-color: transparent;
  text-decoration-color: transparent;
}

main a[href] {
  display: inline;
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
  text-decoration-style: dashed;
}

header a[href], nav a[href] {
  text-decoration: none;
}

@media print {

  a[href] {
    text-decoration: none;
  }

  a[href]::after {
    content: " [" attr(href) "]";
  }

}

@supports (text-decoration-style: dotted) {
  abbr {
    border: none;
  }
}

b {
  color: #302f2b;
  font-weight: 700;
}

cite {
  font-style: italic;
}

cite.small {
  font-style: in
}

code {
  color: #1f1a14;
  font-size: .85em;
  font-family: "Unifont LANGDEV", "Unifont Upper", "Unifont", monospace;
  line-height: 1;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

del {
  color: #948d87;
  text-decoration: line-through;
}

dfn {
  font-style: inherit;
  font-weight: 700;
}

em {
  font-style: inherit;
  text-decoration: underline;
}

i, u {
  color: #302f2b;
}

aside i, aside u {
  color: #57534c;
}

i {
  font-style: italic;
}

aside i, blockquote i {
  font-style: normal;
}

ins {
  text-decoration: underline;
}

kbd {
  font-family: "Unifont LANGDEV", "Unifont Upper", "Unifont", monospace;
}

s {
  text-decoration: line-through;
}

samp {
  font-family: "Unifont LANGDEV", "Unifont Upper", "Unifont", monospace;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

small {
  color: #948d87;
  font-size: inherit;
}

strong {
  color: #1f1a14;
  text-decoration: underline;
  -webkit-text-decoration-style: double;
  text-decoration-style: double;
  font-weight: 700;
}

sup {
  text-transform: uppercase;
}

u {
  text-decoration: underline;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
}
